// Please ignore anything here. This is for prototyping and highlighting during development
.translation_missing {
    background-color: red;
}

figure h1 {
	color: #333;
    font-size: 14px;
    line-height: 1em;
}
