$noResultsBgColor: rgba(0,0,0,0.6);
$selectedBgColor: $formBgColor;
$hoverBgColor: $scrippsBlue;
$topNavBgColor: #B8E9FC;

#location-browser {
  @include span-columns(12);
  height: 544px;
  margin-bottom: 20px;
  margin-top: 40px;
  overflow: hidden;
  position: relative;

  .no-results {
    padding-top: 200px;
    top: 0;
    left: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background: $noResultsBgColor;
    color: $white;
    text-align: center;
    z-index: 1000;
    font-size: 20px;

    button{
      display: block;
      font-size: 18px;
      height: auto;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      padding: 5px 20px;
      text-shadow: none;

      @extend %submit;
    }
  }
}

.lb-nav-all {
  background-color: $topNavBgColor;
}

.lb-nav-location {
  color: $bodyLinkColor;

  a, a:hover {
    text-decoration: none;
    outline: none;
  }

  a:focus {
    outline: none;
  }

  a:hover {
    background-color: $greyLight;
  }

  &.hidden-li {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }

  &.parent {
    > a:before {
      @extend %sparklets-icon;
      @include icon-arrow-future;

      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -6px;
      font-size: 12px;
    }
  }

  &.selected {
    background-color: $topNavBgColor;
    cursor: pointer;
    padding-left: 40px;

    &:before {
      @extend %sparklets-icon;
      @include icon-arrow-past;

      font-size: 12px;
      left: 20px;
      margin-top: -7px;
      position: absolute;
      right: auto;
      top: 50%;
    }
  }
}


%lb-controls-button {
  @include hide-text;

  background: none;
  display: inline-block;
  float: right;
  margin-left: 5px;
  padding: 0;
  width: 29px;
  height: 29px;

  &:hover {
    text-decoration: none;
  }

  &:before{
    background: #7DC2E4;
    border-radius: 3px;
    color: #307AAD;
    display: block;
    width: 29px;
    height: 29px;
    text-align: center;
  }
}

.lb-clear-search {
  @extend %lb-controls-button;

  &:before {
    content: '\d7';
    font-size: 26px;
    line-height: 29px;
  }
}

.lb-controls-gps {
  @extend %lb-controls-button;

  &:before {
    line-height: 30px;
    @extend %sparklets-icon;
    @include icon-gps;
  }
}

.lb-controls-settings {
  @extend %lb-controls-button;

  &:before {
    line-height: 30px;
    @extend %sparklets-icon;
    @include icon-gear-preferences;
  }
}

#lb-map {
  @include span-columns(8);
  @include omega;

  @include media($mobile) {
   display: none;
  }


  height:100%;

  div {
    box-sizing: content-box;
  }
}

.iw-image {
  float: left;
  max-height: 110px;
  overflow: hidden;
  padding-right: 10px;
  width: 120px;

  img {
    max-width: 100%;
  }
}

.iw-content {
  font-weight: normal;
  font-size: 14px;

  &.iw-thumbnail-present {
    margin-left: 120px;
  }
}

.iw-heading, .iw-address {
  margin-bottom: 5px;
}

.iw-address {
  color: $grey;
  line-height: 1.2em;
}

.lb-location-info-pane {
  color: $bodyColor;

  .adr, .phone-number {
    margin: 0 0 1em;
    line-height: 1;
  }

  a {
    padding: 0;

    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
}

// NEW
.lb-nav {
  @include span-columns(4, block-collapse);

  border: $defaultBorder;
  height: 100%;
  overflow-y: scroll;

  @include media($mobile) {
    @include span-columns(4);
  }

  header, li {
    padding: 10px 20px;
  }

  ul {
    margin-top: 20px;
  }

  input, select {
    box-shadow: none;
    display: table-cell;
    width: 100%;
  }

  input {
    border: none;
    font-size: 15px;
    padding-right: 0;
    padding-left: 10px;
  }

  label {
    display: table;
    width: 100%;

    span {
      display: table-cell;
      font-size: 14px;
      width: em(40);
    }
  }

  .lb-range-select {
    span {
      width: em(60);
    }

    select {
      width: 90%;
    }
  }
}

.lb-search {
  @include transition(height .2s ease-out 0s,
                      border-top-color .2s ease-out 0s);

  border-top: $defaultBorder;
  border-bottom: $defaultBorder;
  overflow: hidden;

  &.hidden {
    @include transition(height .2s ease-out 0s,
                        border-top-color 0s ease-out .2s);
    border-top-color: #FFF;

    label {
      opacity: 0;
    }
  }

  label {
    @include transition(opacity .1s ease-out);
    padding: 10px 20px;
    position: relative;
  }

  .form-control.clear {
    @include linear-gradient(to right, rgba(255,255,255,0) 0%, rgb(255,255,255) 50%);
    color: $bodyLinkColor;
    font-size: 26px;
    height: 30px;
    padding-right: 10px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 12px;
    width: 60px;
  }
}

.lb-header {
  height: 67px;
  overflow: hidden;
  perspective: 1000px;
  position: relative;

  h4 {
    left: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 100%;

  }

  i {
    color: $bodyLinkColor;
    font-size: 14px;

    &:before {
      width: 30px;
      cursor: pointer;
    }
  }
}

// ==================
// ==  Animations  ==
// ==================

.lb-header {
  .lb-header-enter {
    opacity: 0.01;
    transition: opacity .5s ease-out, transform .5s ease-out;
    @include transform(translateY(120%));

    &.lb-header-enter-active {
      opacity: 1;
      @include transform(translateY(0%));
    }
  }

  .lb-header-leave {
    opacity: 1;
    transition: opacity .5s ease-out, transform .5s ease-out;
    @include transform(translateY(0%));

    &.lb-header-leave-active {
      opacity: 0.01;
      @include transform(translateY(-120%));
    }
  }
}

// List Animation

.lb-list {
  position: relative;
  @include transition(left .3s ease);
}

.lb-list-enter {
  left: 100%;
}

.lb-list-enter-active {
  left: 0;
}

.lb-list-leave {
  left: 0;
}

.lb-list-leave-active {
  left: -100%;
}

.lb-details {
  figure {
    height: 119px;
  }
}

.lb-details-inner {
  $top-spacing: 2.1em;
  margin: 15px;
  line-height: 1;

  h5 {
    color: darken($silver, 19%);
    margin-bottom: 1.2em;
    margin-top: $top-spacing;
  }

  .location-link {
    display: block;
    margin-top: $top-spacing;
  }
}
