.alpha-lister {
  @extend .controls;
  @include span-columns(8 of 8);
  padding: 14px;
  margin: 20px 0;

  @include media($mobile) {
    padding: 12px 12px 10px;
  }

  li {
    @include span-columns(1 of 26);
    @include omega(26n);
    text-align: center;
    height: 30px;
    font-weight: bold;
    padding-top: 2px;
    color: #c1d1d5;

    @include media($mobile) {
      @include span-columns(1 of 13);
      @include omega(13n);
    }
  }

  .active {
    background: $new-cyan;
    border-radius: 5px;
    color: $white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  }

  .active a{
    color: $white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  }
}
