<header class="content-header">
    <nav class="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>

    <div class="content-title">
      <h1>Locations</h1>
    </div>
</header>

<div class="intro-wrapper">
  <section class="intro">
    <div class="sparkup">
      <h3>Scripps Health Locations in San Diego County</h3>
      <p>Scripps Health offers expert care at locations throughout San Diego County. Use the tool below to find our hospitals, outpatient clinics, well being centers and corporate office.</p>
    </div>
  </section>
</div>
