<footer class="site-footer">
  <section class="learn">
    <div class="people">
      <img alt="Michelle Reyes" src="http://assets0.scripps.org/assets/placeholders/michellereyes-bac0486aeb7f39367ec5c36fbd539c71.png">
      <p>Michelle Reyes<br>Breast Cancer Survivor</p>
    </div>
    <h6>Your generosity can make a difference in the lives of others.</h6>
    <a href="/about-us__giving" class="btn">Donate now</a>
  </section>

  <div class="footer-content">
    <div class="container">
      <section class="sitemap">
          <section class="contact-bar">
            <strong>1-800-SCRIPPS</strong> (800-727-4777) Find a doctor, or learn more about our services and classes
            <span class="footer-contact-bar-links">
              <a href="/about-us__contact-us__contact-form" class="footer-contact-link">Email Us</a>
              <a href="/about-us__contact-us" class="footer-contact-link">Directory</a>
            </span>
          </section>
          <ul class="social">
            <li><a class="facebook" href="http://facebook.com/scrippshealth"><span class="hidden-text">Facebook</span></a></li>
            <li><a class="twitter" href="http://twitter.com/scrippshealth"><span class="hidden-text">Twitter</span></a></li>
            <li><a class="googleplus" href="https://plus.google.com/+scrippshealth"><span class="hidden-text">Google Plus</span></a></li>
            <li><a class="youtube" href="http://youtube.com/scrippshealth"><span class="hidden-text">YouTube</span></a></li>
            <li><a class="email" href="/health-and-wellness__email-sign-up"><span class="hidden-text">Email</span></a></li>
          </ul>
        <section class="featured-sitemap">
          <nav>
            <ul class="section">
  <li class="root">
    <a href="/physicians/find">Doctor Finder</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/physicians__are-you-considering-scripps">Are You Considering Scripps?</a></li>
      <li><a href="/physicians__health-insurance-options">Health Insurance Options</a></li>
      <li><a href="/physicians__how-to-select-a-doctor">How to Select a Doctor</a></li>
    </ul>
  </li>
</ul>

<ul class="section">
  <li class="root">
    <a href="/services">Medical Services</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/services/featured">Featured Services</a></li>
      <li><a href="/services">Services A-Z</a></li>
      <li><a href="/services/urgent-care">Urgent Care</a></li>
      <li><a href="/services/emergency-and-trauma">Emergency and Trauma</a></li>
      <li><a href="/services/laboratory-services">Laboratories</a></li>
    </ul>
  </li>
</ul>

<ul class="section">
  <li class="root">
    <a href="/health-and-wellness">Health &amp; Wellness</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/health-and-wellness__events-and-classes">Events &amp; Classes</a></li>
      <li><a href="/health-and-wellness__email-sign-up">Email Newsletter</a></li>
      <li><a href="/health-and-wellness__health-library">Health Library</a></li>
      <li><a href="/health-and-wellness__recipes">Recipes</a></li>
    </ul>
  </li>
</ul>

<ul class="section research">
  <li class="root">
    <a href="/research">Research</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/research__areas-of-research">Areas of Research</a> </li>
      <li><a href="/research__active-studies">Active Studies</a></li>
      <li><a href="/research__join-a-study">Join a Study</a> </li>
    </ul>
  </li>
</ul>

<ul class="section">
  <li class="root">
    <a href="/patient-guide">Patient Guide</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/patient-guide__billing">Billing</a> </li>
      <li><a href="/patient-guide__financial-assistance">Financial Assistance</a> </li>
      <li><a href="/patient-guide__medical-records">Medical Records</a></li>
      <li><a href="/patient-guide__patient-rights-privacy">Patient Rights &amp; Privacy</a></li>
      <li><a href="/patient-guide__quality">Quality</a></li>
    </ul>
  </li>
</ul>

<ul class="section">
  <li class="root">
    <a href="/locations">Locations</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/locations/hospitals">Hospitals</a></li>
      <li><a href="/locations/scripps-clinic">Scripps Clinic</a></li>
      <li><a href="/locations/scripps-coastal-medical-center">Scripps Coastal Medical Center</a></li>
      <li><a href="/locations/well-being-centers">Well Being Centers</a></li>
      <li><a href="/locations/specialty-centers">Specialty Centers</a></li>
      <li><a href="/services/laboratory-services">Labs</a></li>
    </ul>
  </li>
</ul>

          </nav>
        </section>
      </section>

      <section class="sub">
        <ul>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/notice-of-privacy-practices">Notice of Privacy Practices</a></li>
          <li><a href="/patient-guide__financial-assistance">Charity Policy</a></li>
          <li><a href="/vendor-information">Vendor Information</a></li>
          <li><a href="/about-us__scripps-in-the-community__assessing-community-needs">Community Health Needs Assessment</a></li>
        </ul>
        <p> Copyright © 2015 Scripps Health San Diego, California 92121 All rights reserved.</p>
      </section>
    </div>
  </div>
</footer>
