<header>
  <div class="secondary-navigation">
    <div class="max-width-wrapper">
      <nav class="about-us">
        <ul>
          <li>
            <a href="/about-us__contact-us" class="nav-phone-number">1-800-SCRIPPS</a>
          </li>
          <li>
            <a href="/about-us__contact-us">Contact Us</a>
          </li>
          <li><a href="/about-us">About</a></li>
        </ul>
      </nav>
      <nav class="audiences">
        <ul>
          <li><a href="/for-health-care-professionals">For Health Professionals</a></li>
          <li><a href="/about-us__giving">For Giving</a></li>
          <li><a href="/about-us__careers">For Job Seekers</a></li>
          <li><a href="/about-us__news-center__for-media">For Media</a></li>
          <li><a href="/about-us__volunteer">For Volunteers</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="primary-navigation">
    <div class="max-width-wrapper">
      <a href="http://www.scripps.org" class="logo">Scripps</a>
      <nav class="primary-nav-featured">
        <ul class="section">
  <li class="root">
    <a href="/physicians/find">Doctor Finder</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/physicians__are-you-considering-scripps">Are You Considering Scripps?</a></li>
      <li><a href="/physicians__health-insurance-options">Health Insurance Options</a></li>
      <li><a href="/physicians__how-to-select-a-doctor">How to Select a Doctor</a></li>
    </ul>
  </li>
</ul>

<ul class="section">
  <li class="root">
    <a href="/services">Medical Services</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/services/featured">Featured Services</a></li>
      <li><a href="/services">Services A-Z</a></li>
      <li><a href="/services/urgent-care">Urgent Care</a></li>
      <li><a href="/services/emergency-and-trauma">Emergency and Trauma</a></li>
      <li><a href="/services/laboratory-services">Laboratories</a></li>
    </ul>
  </li>
</ul>

<ul class="section">
  <li class="root">
    <a href="/health-and-wellness">Health &amp; Wellness</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/health-and-wellness__events-and-classes">Events &amp; Classes</a></li>
      <li><a href="/health-and-wellness__email-sign-up">Email Newsletter</a></li>
      <li><a href="/health-and-wellness__health-library">Health Library</a></li>
      <li><a href="/health-and-wellness__recipes">Recipes</a></li>
    </ul>
  </li>
</ul>

<ul class="section research">
  <li class="root">
    <a href="/research">Research</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/research__areas-of-research">Areas of Research</a> </li>
      <li><a href="/research__active-studies">Active Studies</a></li>
      <li><a href="/research__join-a-study">Join a Study</a> </li>
    </ul>
  </li>
</ul>

<ul class="section">
  <li class="root">
    <a href="/patient-guide">Patient Guide</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/patient-guide__billing">Billing</a> </li>
      <li><a href="/patient-guide__financial-assistance">Financial Assistance</a> </li>
      <li><a href="/patient-guide__medical-records">Medical Records</a></li>
      <li><a href="/patient-guide__patient-rights-privacy">Patient Rights &amp; Privacy</a></li>
      <li><a href="/patient-guide__quality">Quality</a></li>
    </ul>
  </li>
</ul>

<ul class="section">
  <li class="root">
    <a href="/locations">Locations</a>
    <span class="nav-dropdown"></span>
  </li>
  <li class="branches">
    <ul>
      <li><a href="/locations/hospitals">Hospitals</a></li>
      <li><a href="/locations/scripps-clinic">Scripps Clinic</a></li>
      <li><a href="/locations/scripps-coastal-medical-center">Scripps Coastal Medical Center</a></li>
      <li><a href="/locations/well-being-centers">Well Being Centers</a></li>
      <li><a href="/locations/specialty-centers">Specialty Centers</a></li>
      <li><a href="/services/laboratory-services">Labs</a></li>
    </ul>
  </li>
</ul>

      </nav>

      <form accept-charset="UTF-8" action="/sitewide_searches" class="search" id="resource_index_form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input class="search-box" data-example="Search" id="sitewide_search_query" name="query" placeholder="Search" size="30" type="text">
</form>    </div>

    <nav class="primary-nav-drawer"><ul style="left: 264.796875px; position: relative;">
      <li><a href="/services/featured">Featured Services</a></li>
      <li><a href="/services">Services A-Z</a></li>
      <li><a href="/services/urgent-care">Urgent Care</a></li>
      <li><a href="/services/emergency-and-trauma">Emergency and Trauma</a></li>
      <li><a href="/services/laboratory-services">Laboratories</a></li>
    </ul></nav>
  </div>
</header>
