---
title: Hospitals, Labs, Clinic Locations | San Diego | Scripps Health
---

<section id="location-browser">
  <ul class='lb-nav'>
  </ul>

  <form class='lb-search'>
    <div class='lb-location-input'>
      <label for='location'>Near:</label>
      <input type='text'
        name='location'
        placeholder='Enter an Address, City or Zip Code'
        class='lb-location-input-field'>
    </div>
    <div class='lb-search-controls'>
      <a href='#' class='lb-clear-search' style='display: none; opacity: 0;'>Clear Search</a>
    </div>
  </form>

  <div id="lb-map"></div>
</section>
